<form asp-controller="Home" asp-action="ChangePassword" method="post">

     <input type="password" name="oldpassword">
    <br>
    <input type="password" name="newpassword">
    <br>
    <input type="password" name="repassword">
    <br>
    <button type="submit">change password</button>
</form>