<form asp-controller="Home" asp-action="Login" method="post">
    <div class="row account_login___30Y0z">
        <div class="col-s-12 col-l-10 offset-l-1">
            <h3>Log in</h3><a class="gl-link gl-link">Forgot Your
                Password?</a>
            <form>
                <div class="gl-vspace-bpall-small"></div>
                <div class="field___31Wur gl-vspace ">
                    <input name="email" required="" type="email" placeholder="Email Address ">
                </div>
                <div class="field___31Wur gl-vspace ">
                    <input name="password" required="This Field Can't Not Be Blank" type="password" placeholder="Password ">

                </div>

                <div><span><span>By clicking 'Log In' you agree to our website </span><span><a class="gl-link"
                                href="">Terms
                                &amp;
                                Conditions</a></span><span>, </span><span>
                            <a class="gl-link" href="">Privacy Policy</a></span><span> and
                            Creators Club </span><span><a class="gl-link" href="">Terms &amp;
                                Conditions</a></span><span>.</span></span></div>
                <div class="gl-vspace-bpall-small undefined">
                    <!-- btn -->
                    <button type="submit" class="gl-cta gl-cta--primary gl-cta--full-width"><span
                            class="gl-cta__text">Log in</span>
                        <svg class="gl-icon gl-cta__icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30"
                            height="20" viewBox="0 0 172 172">
                            <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                                style="mix-blend-mode: normal">
                                <path d="M0,172v-172h172v172z" fill="none"></path>
                                <g>
                                    <path fill="#ffffff" id="arrow"
                                        d="M127.48156,44.65281c-2.795,-0.1075 -5.38844,1.49156 -6.53063,4.04469c-1.15562,2.55313 -0.65844,5.53625 1.27656,7.57875l21.13719,22.84375h-133.04469c-2.48594,-0.04031 -4.78375,1.26313 -6.03344,3.41313c-1.26313,2.13656 -1.26313,4.79719 0,6.93375c1.24969,2.15 3.5475,3.45344 6.03344,3.41312h133.04469l-21.13719,22.84375c-1.72,1.80063 -2.32469,4.38063 -1.59906,6.75906c0.72563,2.37844 2.67406,4.17906 5.09281,4.71656c2.43219,0.5375 4.95844,-0.28219 6.61125,-2.12313l36.13344,-39.07625l-36.13344,-39.07625c-1.23625,-1.37062 -2.99656,-2.20375 -4.85094,-2.27094z">
                                    </path>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
                <div>
                    <div class="gl-vspace-bpall-small">OR</div>
                    <div class="gl-vspace-bpall-small buttonsContainer___3zsqv">
                        <button type="button" class="gl-cta gl-cta--secondary gl-cta--full-width"><span
                                class="gl-cta__text">facebook</span>
                            <img class="gl-icon gl-cta__icon"
                                src="https://img.icons8.com/color/24/000000/facebook-circled.png">
                        </button>
                        <button type="button" class="gl-cta gl-cta--secondary gl-cta--full-width"><span
                                class="gl-cta__text">google</span>
                            <img class="gl-icon gl-cta__icon"
                                src="https://img.icons8.com/plasticine/22/000000/google-logo.png">
                        </button>
                        <button type="button" class="gl-cta gl-cta--secondary gl-cta--full-width"><span
                                class="gl-cta__text">yahoo</span>
                            <img class="gl-icon gl-cta__icon"
                                src="https://img.icons8.com/cute-clipart/2048/000000/instagram-new.png">
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="gl-vspace-bpall-small"></div>
        <div class="col-s-12 col-l-10 offset-l-1">
            <div class="gl-hidden-l gl-divider"></div>
            <h3>Register and join the adidas creators club</h3>
            <div>
                <p>Create an account with adidas:</p>
                <ul>
                    <li class="gl-vspace bullet_container___1Rxe1">
                        <svg class="gl-icon icon___P8wgk gl-icon--size-communication" xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z">

                        </svg>
                        <span>Earn easy points for exclusive rewards</span></li>
                    <li class="gl-vspace bullet_container___1Rxe1"><svg
                            class="gl-icon icon___P8wgk gl-icon--size-communication" xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z">

                        </svg>span>Access the best special offers and promotions</span></li>
                    <li class="gl-vspace bullet_container___1Rxe1"><svg
                            class="gl-icon icon___P8wgk gl-icon--size-communication" xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z">

                        </svg><span>Receive invites to exclusive events</span></li>
                    <li class="gl-vspace bullet_container___1Rxe1"><svg
                            class="gl-icon icon___P8wgk gl-icon--size-communication" xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z">

                        </svg><span>Get access to limited edition products</span></li>
                    <li class="gl-vspace bullet_container___1Rxe1"><svg
                            class="gl-icon icon___P8wgk gl-icon--size-communication" xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z">

                        </svg><span>Level up for a Runtastic Premium subscription</span></li>
                    <li class="gl-vspace bullet_container___1Rxe1"><svg
                            class="gl-icon icon___P8wgk gl-icon--size-communication" xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z">

                        </svg><span>Faster checkout with your saved address and payment details</span></li>
                    <li class="gl-vspace bullet_container___1Rxe1"><svg
                            class="gl-icon icon___P8wgk gl-icon--size-communication" xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z">

                        </svg><span>Access your complete order history</span></li>
                    <li class="gl-vspace bullet_container___1Rxe1"><svg
                            class="gl-icon icon___P8wgk gl-icon--size-communication" xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z">

                        </svg><span>Track your order delivery</span></li>
                    <li class="gl-vspace bullet_container___1Rxe1"><svg
                            class="gl-icon icon___P8wgk gl-icon--size-communication" xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z">

                        </svg><span>Free shipping for Creators Club Members</span></li>
                </ul>
                <div class="gl-vspace-bpall-small"></div>
            </div> <a asp-action="Register" asp-controller="Home">
                <button type="button" class="gl-cta gl-cta--primary"><span class="gl-cta__text">Register
                        now</span>
                    <svg class="gl-icon gl-cta__icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30"
                        height="20" viewBox="0 0 172 172">
                        <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                            font-family="none" font-weight="none" font-size="none" text-anchor="none"
                            style="mix-blend-mode: normal">
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g>
                                <path fill="#ffffff" id="arrow"
                                    d="M127.48156,44.65281c-2.795,-0.1075 -5.38844,1.49156 -6.53063,4.04469c-1.15562,2.55313 -0.65844,5.53625 1.27656,7.57875l21.13719,22.84375h-133.04469c-2.48594,-0.04031 -4.78375,1.26313 -6.03344,3.41313c-1.26313,2.13656 -1.26313,4.79719 0,6.93375c1.24969,2.15 3.5475,3.45344 6.03344,3.41312h133.04469l-21.13719,22.84375c-1.72,1.80063 -2.32469,4.38063 -1.59906,6.75906c0.72563,2.37844 2.67406,4.17906 5.09281,4.71656c2.43219,0.5375 4.95844,-0.28219 6.61125,-2.12313l36.13344,-39.07625l-36.13344,-39.07625c-1.23625,-1.37062 -2.99656,-2.20375 -4.85094,-2.27094z">
                                </path>
                            </g>
                        </g>
                    </svg>
                </button>
            </a>

        </div>
    </div>
</form>